:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

body {
    background-color: var(--dark-blue);
}

#mainDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    height: 300px;
    border: 1px solid var(--dark-grayish-blue);
    border-radius: 15px;
    text-align: center;
    background-color: var(--dark-grayish-blue);
    color: var(--light-cyan);
}

#contentDiv {
    position: relative;
    margin: 5%;
}

.manrope-custom {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#adviceIdDiv {
    color: var(--neon-green);
    letter-spacing: 2px;
}

#advice {
    font-size: 1.7rem;
    font-weight: 800;
}

.divider {
    margin: 1% 0;
}

#mobileDivider {
    display: none;
}

#diceShell {
    position: static;
    margin-top: 2.3rem;
}

.dice {
    border: 1px solid var(--neon-green);
    border-radius: 100px;
    padding: 12px;
    background-color: var(--neon-green);
    overflow: visible;
}

.dice:hover {
    cursor: pointer;
    box-shadow: 1.5px 1.5px 20px 1.8px var(--neon-green);
}

/* need to fix main div attr value for mobile screens */
@media screen and (max-width: 600px) {
    
    #mainDiv {
        width: 95%;
        padding-bottom: 12%;
    }

    #contentDiv {
        position: relative;
        margin: 5%;
    }

    #desktopDivider {
        display: none;
    }

    #mobileDivider {
        position: relative;
        display: block;
        margin-bottom: 0;
    }

    #diceShell {
        position: static;
        margin-top: 3.6rem;
    }

}
